#deliScreen {
    width: 90%;
    height: 80%;
    background-color: #537797;
    margin: 20px auto;
    border-radius: 10px;
    display: grid;
    grid-template: 10% 80% 10% / 1fr 1fr 1fr;
    grid-template-areas: 'menuSelector tableName buttons' 'menu order add' 'menu total submit' ;
    border: 3px solid #96894B;
}

#deliName {
    grid-area: tableName;
}

#menuButtons {
    grid-area: menuSelector;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#menuButtons button {
    height: 40%;
    width: 30%;
    border-radius: 10px;
}

#total {
    grid-area: total;
}
#total h4 {
    margin: 0 auto;
}

#address {
    display: flex;
    flex-direction: column;
}


#address textarea {
    background-color: #BAC5D2;
    border: 2px solid #96894B;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
}

#address select {
    border: 2px solid #96894B;
    border-radius: 5px;
    background: none;
    color: #E3CC66;
    text-align: center;
    margin: 10px;
}

#buttons {
    display: inline-flex;
    grid-area: buttons;
    width: 100%;
    justify-content: right;
    align-items: center;
}


#buttons img {
    height: 30px;
    width: 30px;
    margin: 0 15px;
}

#submit {
    grid-area: submit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#submit button {
    font-size: 20px;
}

#submit button:disabled {
    color: darkgrey;
    border-color: darkgrey;
}

.menuPosition {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid black;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.positionDescription {
    text-align: left;
}

