#menuDetails {
    height: 70%;
    overflow: scroll;

}

#menuList {
    background-color: #537797;
    border: 2px solid #96894B;
    border-radius: 10px;
    margin: 10px auto;
    width: 80%;

    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 24px 0 rgba(66, 68, 90, 1);

}

.menuPosition {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid black;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    text-align: left;
}

.menuPosition div {
    max-width: 70%;
    word-break: break-word;
}

#menuPosCreator {
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

#menuPosCreator input {
    width: 25%;
    font-size: 16px;
    outline: none;
    border: none;
    text-align: center;
    border-bottom: 1px solid #96894B;
    color: #E3CC66;
    background: none;
    height: 50px;
}

#menuDetails button {
    font-size: 18px;
    padding: 10px;
    color: #E3CC66;
}

.nameAndDesc {
    width: 50%;
}