#homepage {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

#homepage a {
    text-decoration: none;
    color: #E3CC66;
    font-size: 22px;
    font-weight: 550;
}

.menuContainer {
    width: 25%;
    height: 300px;
    margin: 10px;
    background-color: #537797;
    border-radius: 10%;
    transition: box-shadow 0.2s linear, background-color 0.2s linear, color 0.2s linear;
}

.menuContainer:hover {
    box-shadow: 8px 8px 24px 0 rgba(66, 68, 90, 1);;
}

#homepage a.disabled {
    background-color: lightgray;
    color: #537797;
}

.menuContainer img {
    height: 60%;
    margin: 20px;
}
