#homepage {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

#homepage a {
    text-decoration: none;
    color: black;
}

.menuContainer {
    width: 25%;
    height: 300px;
    margin: 10px;
    background-color: lightcoral;
    border-radius: 10%;
}

.disabled {
    background-color: lightgray;
}

.menuContainer img {
    height: 60%;
    margin: 20px;
}
