body, html, #root, .App {
  height: 100%;
  width: 100%;
  font-family: Raleway, serif;
}

.App {
  text-align: center;
  overflow: hidden;
  background-color: #BAC5D2;
}

a {
  text-decoration: none;
}
